# faxrunq.config
#
# Sample configuration file for "faxrunq"
#
# valid options: success-send-mail [y/n], failure-send-mail [y/n]
#                success-call-program <name>, failure-call-program <name>
#		 maxfail-costly <n>, maxfail-total <n>, delete-sent-jobs [y/n]
#
#
#  say "y" here if you want a mail to be sent to the sender of the fax
#  when a fax has been successfully sent, "n" otherwise... (default "y")
#success-send-mail Y
#
#  this states whether a mail should be sent when a fax could not be
#  transmitted at all... (default "y")
#failure-send-mail Y
#
#
#  here you can specify a program that will be called for each fax that
#  has successfully been sent... (default: no program)
#success-call-program /usr/local/lib/mgetty+sendfax/fax-success
#
#
#  and this program is run for each failed fax... (default: no program)
#failure-call-program /usr/local/lib/mgetty+sendfax/fax-fail
#
#
#  how often should faxrunq retry "costly" errors (NO CARRIER, aborted
#  transmission, whatever - something that did cost telephone bill)?
#maxfail-costly 3
#
#
#  this is the absolute maximum number of tries for a given fax
#  [NOT YET IMPLEMENTED]
#maxfail-total 10
#
#
#  if you want faxrunq to delete sent faxes completely, set this to "y".
#  If it is set to "n", faxes will be removed from the queue, but the
#  files won't be deleted, that is, you can see those faxes with 
#  "faxq -o"  (default is "n").
#delete-sent-jobs n
